
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    background-color: #e8ffff;
    font-family: serif;
  }


  #navbar {
  padding-left: 2%;
  background-color: #41aea9;
  position: fixed;
  top: 0;
  }
  
 #nav-items {
  margin-right: auto;
  margin-left: auto;
 }

 #navbar a:hover {
  color: #213e3b !important;
 }


  figure {
    width: 100%
  }

  #profile-pic {
    display: block;
    max-width: 50%;
    margin: auto;
  }

  
  header {
  margin-top: 50px;
  width: 100%;
  background-color: #213e3b;
  }

  figcaption {
    padding-top: 5%;
    color: #a6f6f1;
    font-family: 'Josefin Slab', serif;
  }

  h3 {
    color: #41aea9;
  }

  #about img{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #about img:hover {
    max-width: 60%;
  }


  #projects {
    background-color: #213e3b;
    margin-top: 5%;
    text-align: center;
    background-image: url(./assets/images/leaves.jpg);
  }

  #projects h1 {
    color: #a6f6f1;
  }

  #projects h3 {
    animation-name: gradient;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #projects h4 {
    color: #a6f6f1;
  }

  #projects a {
    text-decoration: none;
    color: inherit;
  }

  #projects a:hover {
    color: #e8ffff;
  }

  @keyframes gradient {
    from {color: #41aea9}
    to {color: #ffc93c ;}
  }


  iframe {
    max-width: 95%;
    max-height: 10%;
  }

  .btn {
    margin-bottom: 2%;
    color: #e8ffff;
    background-color: #41aea9;
    box-shadow: 0 9px #999;
    border-radius: 15px;
  }

  .btn:hover {
    color: #e8ffff;
    background-color: #213e3b;
    border-radius: 15px;
  }
  .btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  #prefooter {
    margin: 0;
    background-color: #206a5d;
    color: #a6f6f1;
  }

  form {
    display: flex;
    flex-direction: column;
  }



  @media only screen and (max-width: 600px) {
    figcaption {
      text-align: center;
    }
    #projects {
      text-align: left;
    }
    form {
      display: block;
    }
    #about {
      display: flex;
      flex-direction: column;
    }
    #about img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      
    }

    #secondRow {
      display: flex;
      flex-direction: column-reverse;
    }
  }




